body {
  text-align: center;
  font-family: Helvetica;
  background-image: url("../the-flatiron-building.jpg");
  }

.nobackground {
  background-color: white;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

nav {
  font-size: 18px;
  color: white;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

.category {
  font-size: 23px;
  font-weight: bold;
}

.detail {
  font-size: 14px;
}

.design {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer p {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
